<div class="bgs">
  <div class="container header p-2" style="color:rgb(19, 2, 250);background-color: white;">
    <h1><img src="../../../assets/sbi.png"> Online Banking</h1>
  </div>
   <div class="container">
    <h1 style="text-align:center;color:rgb(255, 0, 149);">Welcome To KMB Online Banking</h1>
    <!--<div class="navbar navbar-expand rounded-1 justify-content-between w-50 align-items-center navbar-light bg-light">
      <button class="btn btn-outline "  routerLink="/welcome">
        Home
      </button>
      <button class="btn btn-outline" routerLink="/balance">
        Balance
      </button>
      <button class="btn btn-outline" routerLink="/deposit">
        Deposit
      </button>
      <button class="btn btn-outline" routerLink="/withdraw">
        Withdraw
      </button>
    </div>-->
  </div>  


  <div class="container-fluid justify-content-between align-content-center align-items-center bgs d-flex"
    style="height: 515px;">
    <div class="card c1">
      <div class="card-header" style="text-align:center;">
        Balance Enquiry
      </div>
      <div class="card-body " style="text-align:center;">
        <h5 class="card-title">Check Your Account Balance</h5>
        <p class="card-text">Here You Can See Your Account Balance</p>
      </div>
      <div class="card-footer">
        <a href="./balance" class="btn btn-primary w-100 ">Balance Enquiry</a>

      </div>
    </div>
    <div class="card">
      <div class="card-header " style="text-align:center;">
        Deposit
      </div>
      <div class="card-body" style="text-align:center;">
        <h5 class="card-title">Deposit The Amount Into Your Account</h5>
        <p class="card-text">Enter The Amount In Multiple Of Hundred Only Ex:-2000/-</p>
      </div>
      <div class="card-footer">
        <a href="./deposit" class="btn btn-primary w-100">Deposit</a>
      </div>
    </div>
    <div class="card c2">
      <div class="card-header" style="text-align:center;">
        Withdraw
      </div>
      <div class="card-body " style="text-align:center;">
        <h5 class="card-title">Take Money From Your Account</h5>
        <p class="card-text">Enter The Amount Must Be in Multiple Of Hundred Only Ex:-5000/-</p>
      </div>
      <div class="card-footer">
        <a href="./withdraw" class="btn btn-primary w-100">Withdraw</a>
      </div>
    </div>
  </div>
</div>