<div class="container-fluid overflow-auto">
    <form method="post" [formGroup]="formRegister" (submit)="SubmitForm(formRegister.value)">
        <div class="mystyles">

            <div class="row">
                <div>
                    <h1 style="text-align: center;">Registration Form</h1>
                </div>
                <p></p>
                <div class="col-6">
                    <table>
                        <tr>
                            <th>
                                <h4>First Name</h4>
                            </th>
                            <td class="p-2"><input formControlName="firstName" name="firstName" id="firstName"
                                    type="text" class="form-control" placeholder="First Name"></td>
                        </tr>
                        <tr class="mycolor" *ngIf="f['firstName'].invalid && f['firstName'].touched">
                            <td>
                                <span *ngIf="f['firstName'].getError('required')!=null">First Name Required</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Last Name</h4>
                            </th>
                            <td class="p-2"><input type="text" name="lastName" id="lastName" formControlName="lastName"
                                    class="form-control" placeholder="Last Name"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['lastName'].invalid && f['lastName'].touched">
                            <td>
                                <span *ngIf="f['lastName'].getError('required')!=null">Last Name Required</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Father Name</h4>
                            </th>
                            <td class="p-2"><input name="fatherName" id="fatherName" type="text"
                                    formControlName="fatherName" class="form-control" placeholder="Father Name"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['fatherName'].invalid && f['fatherName'].touched">

                            <td>
                                <span *ngIf="f['fatherName'].getError('required')!=null">Father Name Required</span>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <h4>Mother Name</h4>
                            </th>
                            <td class="p-2"><input type="text" name="motherName" id="motherName"
                                    formControlName="motherName" class="form-control" placeholder="Mother Name"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['motherName'].invalid && f['motherName'].touched">
                            <td>
                                <span *ngIf="f['motherName'].getError('required')!=null">Mother Name Required</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Password</h4>
                            </th>
                            <td class="p-2"><input type="password" id="password" formControlName="password"
                                    name="password" class="form-control" placeholder="Password"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['password'].invalid && f['password'].touched">

                            <td>
                                <span *ngIf="f['password'].getError('required')!=null">Password Required</span>
                                <span *ngIf="f['password'].getError('pattern')!=null">Password Contains 1 Upper Case
                                    letter 1 Lower Case Letter 1 Number 1 Special Charecter and Length Between 8
                                    Charecter to 25 Charecter
                                </span>
                            </td>

                        </tr>
                        <tr>
                            <th>
                                <h4>Conform Password</h4>
                            </th>
                            <td class="p-2"><input type="password" id="conformPassword"
                                    formControlName="conformPassword" name="conformPassword" class="form-control"
                                    placeholder="Conform Password"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['conformPassword'].invalid && f['conformPassword'].touched">

                            <td>
                                <span *ngIf="f['conformPassword'].getError('Mustmatch')!=null">Password Mismatch</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Permanent Address</h4>&emsp;
                            </th>
                            <td class="p-2"><input type="text" name="permanentAddress" style="height: 70px;"
                                    id="permanentAddress" class="form-control" formControlName="permanentAddress"
                                    placeholder="Address" maxlength="1000"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['permanentAddress'].invalid && f['permanentAddress'].touched">
                            <td>
                                <span *ngIf="f['permanentAddress'].getError('required')!=null">Permanent Address
                                    Required</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-6">
                    <table>
                        <tr>
                            <th>
                                <h4>Date Of Birth</h4>
                            </th>
                            <td class="p-2"><input type="date" name="dob" id="dob" formControlName="dob"
                                    class="form-control"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['dob'].invalid && f['dob'].touched">
                            <td>
                                <span *ngIf="f['dob'].getError('required')!=null">Date Of Birth Required</span>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <h4>Gender</h4>
                            </th>
                            <td>
                                <input type="radio" [checked]="true" style="margin-left: 13px;" name="gender"
                                    id="gender" formControlName="gender" value="Male"><label for="radio">
                                    <h6>Male</h6>
                                </label>
                                <input type="radio" style="margin-left: 40px;" name="gender" id="gender"
                                    formControlName="gender" value="Female"><label for="radio">
                                    <h6>Female</h6>
                                </label>
                            </td>
                        </tr>
                        <tr class="mycolor" *ngIf="f['gender'].invalid && f['gender'].touched">
                            <td>
                                <span *ngIf="f['radio'].getError('required')!=null">Please Select Gender</span>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <h4>Email</h4>
                            </th>
                            <td class="p-2"><input type="email" required name="email" id="email" formControlName="email"
                                    class="form-control" placeholder="Email"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['email'].invalid && f['email'].touched">
                            <td>
                                <span *ngIf="f['email'].getError('required')!=null">Email Id Required</span>
                                <span *ngIf="f['email'].getError('email')!=null">invalid Email Id</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Mobile</h4>
                            </th>
                            <td class="p-2"><input type="text" maxlength="10" minlength="10" name="mobile" id="mobile"
                                    maxlength="10" minlength="10" class="form-control" formControlName="mobile"
                                    placeholder="Mobile Number"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['mobile'].invalid && f['mobile'].touched">
                            <td>
                                <span *ngIf="f['mobile'].getError('required')!=null">Mobile Number Required</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Aadhar Card</h4>
                            </th>
                            <td class="p-2"><input type="text" maxlength="12" minlength="12" name="aadhar" id="aadhar"
                                    maxlength="12" minlength="12" class="form-control" formControlName="aadhar"
                                    placeholder="Aadhar">
                            </td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['aadhar'].invalid && f['aadhar'].touched">
                            <td>
                                <span *ngIf="f['aadhar'].getError('required')!=null">Aadhar Card Number Required</span>
                            </td>
                        </tr>

                        <tr>
                            <th>
                                <h4>PAN Card</h4>
                            </th>
                            <td class="p-2"><input minlength="10" name="panCard" id="panCard" maxlength="10" type="text"
                                    class="form-control" formControlName="panCard" placeholder="PAN Card Number"></td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['panCard'].invalid && f['panCard'].touched">
                            <td>
                                <span *ngIf="f['panCard'].getError('required')!=null">PAN Card Required</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Account Type</h4>
                            </th>
                            <td class="p-2">
                                <select class="form-control" name="accountType" id="accountType" required
                                    formControlName="accountType">
                                    <option>Savings</option>
                                    <option>Currrent</option>
                                </select>
                            </td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['accountType'].invalid && f['accountType'].touched">
                            <td>
                                <span *ngIf="f['accountType'].getError('required')!=null">Please Choose the Account
                                    Type</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h4>Agree Terms & Condetions</h4>&emsp;
                            </th>
                            <td class="p-2 ml-auto"><input type="checkbox" formControlName="terms" name="terms"
                                    id="terms">
                            </td>

                        </tr>
                        <tr class="mycolor" *ngIf="f['terms'].invalid && f['terms'].touched">
                            <td>
                                <span *ngIf="f['terms'].getError('required')!=null">Accept Terms and Condetions</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <button (click)="register()" [disabled]="formRegister.invalid" class="btn btn-warning w-10"
                        type="submit">
                        <h3>Register</h3>
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>