.mystyles{
    border:solid;
    border-color: lightcyan;
    border-radius: 10px;
    padding: 37px;
    background: rgb(169, 250, 216);
}   
// input{
//     width: 250px;
// }
select{
    width: 250px;
}
textarea{
    height: 150px;
}