<div class="bgs">
    <div class="header container mt-5 mb-5">
        <h1 style="text-align: center;">Balance Enquiry</h1>
        </div>
        <div class="container body mt-5">
        <table class="table tabel-hover justify-content-center align-items-center mt-5">
            <tr >
                <th>Account No</th>
                <th>Mode Of Transaction</th>
                <th>Date Of Transaction </th>
                <th>Time</th>
                <th>Amount Detacted</th>
                <th>Account Balance</th>
            </tr>
            <tr class="p-5">
                <td>9876543210</td>
                <td>Withdraw</td>
                <td>17/11/2022</td>
                <td>15:15:30</td>
                <td>5500/-</td>
                <td>9550/-</td>
            </tr>
        </table>
        </div>
        <div class="footer d-flex justify-content-center align-items-center ">
           <div class="m-5"> <button class="btn btn-info" routerLink="/deposit">Deposit</button></div>
            <div class="m-5"><button class="btn btn-success" routerLink="/withdraw">Withdraw</button></div>
            <div class="m-5"><button class="btn btn-primary" routerLink="/welcome">Home Page</button></div>
        
        </div>
</div>