<div class="bgs">
    <div class="header container mt-5 mb-5">
        <h1 style="text-align:center;">Withdraw</h1>
    </div>
    <div class="container body">
        <form action="">
            <tr>
                <th class="p-5">Account Number</th>
                <td><input type="text" placeholder="Ex:-9876543210"></td>
            </tr>
            <tr>
                <th class="p-5">Account Holder Name</th>
                <td><input type="text" placeholder="Your Name"></td>
            </tr>
            <tr>
                <th class="p-5">Withdraw Amount</th>
                <td><input type="text" placeholder="Ex:-2000/-"></td>
            </tr>
            <button class="btn btn-warning m-5" >Withdraw</button>
            <button class="btn btn-success m-5" routerLink="/balance">Balance Enquiry</button>
        </form>
    </div>
</div>